In [1]:
l=[3,4,5,6,7,[23,456,67,8,78,78],[345,56,87,8,98,9],(234,6658,6),{'key1':'sudh', 234:[23,45,656]}]

In [2]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6658, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

# 1. Try to reverse list

In [3]:
l[::-1]

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6658, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [7]:
l.sort(reverse= True)

TypeError: '<' not supported between instances of 'tuple' and 'dict'

# 2. Try to acess 234 from the list

In [8]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6658, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [9]:
l[7][0]

234

# 3. Try to access 456

In [10]:
l[5][1]

456

# 4. Try to access list collection from list

In [14]:
l[5]

[23, 456, 67, 8, 78, 78]

In [15]:
l[6]

[345, 56, 87, 8, 98, 9]

# 5. try to extract sudh

In [16]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6658, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [19]:
l[8]['key1']

'sudh'

# 6 Try to list all the key in dict element available in list

In [20]:
a=l[8]

In [21]:
a

{'key1': 'sudh', 234: [23, 45, 656]}

In [22]:
a.keys()

dict_keys(['key1', 234])

# 7. Try to extract all the value element in dict available

In [23]:
a.values()

dict_values(['sudh', [23, 45, 656]])